<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="#">PetFinder</a>

    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Pet List </a></li>
        <li><a routerLink="/admin">Admin</a></li>
      </ul>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>



