<div class="container">
  <h1>Add Pet</h1>
  <form form novalidate #petForm="ngForm" (ngSubmit)="onSubmit(petForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             name="name"
             ngModel
             #petName
             minlength="2"
             required>

      <div *ngIf="petName.errors?.required && petName.touched" class="error">
        Name is required
      </div>
    </div>


    <div class="form-group">
      <label for="breed">Breed</label>
      <input type="text"
             class="form-control"
             id="breed"
             name="breed"
             ngModel
             #petBreed>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text"
             class="form-control"
             id="description"
             name="description"
             ngModel
             #petDesc>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="petForm.invalid">Submit</button>

  </form>
</div>
