
  <div class="card" *ngFor="let pet of petData">
    <img src="{{pet.imageUrl}}" style="width: 100%">
    <div class="cardcontainer">
      <h4><b>{{pet.name}}</b></h4>
      <p>{{pet.description}}</p>
    </div>
    <p></p>
  </div>
